.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

.idea/

.vscode/


[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/
[Tt]est[Rr]esults/
[Aa]rtifacts/

# NuGet
*.nupkg
*.snupkg
*.nuspec
.packages/
.nuget/

*.psess
*.vsp
*.vspx
*.coverage
.coveragexml


*.db
*.mdf
*.ldf

x64/
x86/
[Oo]ut/
[Dd]ebug*/
[Rr]elease*/
[Rr]eleases/

*.log
*.tmp
*.temp
*.bak
*.swp
*.swo

*.zip
*.rar
*.7z
*.tar
*.gz
*.bz2
*.iso


